* {
    margin: 0;
    padding: 0;
}
html body {
    width: 100%;
    height: 100%;
    background: #303254;
}
.menu ul {
    display: inline-flex;
    margin: 40px;
}
.menu ul li {
    list-style: none;
    margin: 0 20px;
    color:#D6D7EB;
    cursor: pointer;
}
.your {
    font-weight: bold;
    margin-top: 1px;
}
.yeet {
    list-style: none;
    margin: 0 5px;
    color:#D6D7EB;
    cursor: pointer;
}
.yeet:hover {
    list-style: none;
    margin: 0 5px;
    color:#D6D7EB;
    cursor: pointer;
    text-decoration: none;
}
.active {
    color: #6AB1F0!important;
    margin: 0 5px;
}
.login {
    top: 40px;
    right: 80px;
    padding: 10px 30px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid #E9967A;
    border-radius: 25px;
    text-align: center;
    font-weight: normal;
    transition: 1s;
}
.active:hover {
    text-decoration: none;
    margin: 0 5px;
}
.login:hover {
    text-decoration: none;
    background: #E9967A;
    color: white;
}
.faq1 {
    top: 43.5px;
    right: 220px;
    padding: 8px 25px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid #CD6155;
    border-radius: 25px;
    text-align: center;
    font-weight: normal;
    transition: 1s;
}
.faq:hover {
    text-decoration: none;
    background: #CD6155;
    color: white;
}
.banner {
    width: 10%;
    height: 20%;
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translate(-50%,-50%);
    color: #fff;
}
.text {
    width: 50%;
    float: left;
}
.text h1 {
    font-size: 80px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}
.text p {
    font-size: 25px;
    width: 650px;
    margin: 0 0 30px 40px;
    line-height: 25px;
    color: #919191;
}
