* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial;
    position: relative;
    padding-bottom: 58px;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover {
    color: #007bff!important;
}
.navbar {
    background: #fff;
}
.navbar-toggler {
    border: none!important;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5 {
    color: #fff;
    font-size: 42px;
}
main {
    /* min-height: calc(100vh - 66px - 56px); */
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 56px;
    min-height: 85vh;
}
.cards {
    width: 20%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    display: inline-block;
    margin: 40px;
}
.image img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.title {
    text-align: center;
}
.des {
    text-align: center;
}
button {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
button:hover {
    background-color: gray;
    color: white;
}
.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}
.youtube {
    top: 58%;
    left: 39%;
    position: absolute;

}
.button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.yt {
    border: 1px solid black;
    padding: 10px 50px;
    color: black;
    text-decoration: none;
    transition: 0.6s ease;
    border-radius: 8px;
}
.yt:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}
.kijelentkezes {
    padding: 8px;
    background: #17a2b8;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    border-color: #17a2b8;
}
.kijelentkezes:hover {
    text-decoration: none;
    color: white;
    background: #3FC2D6;
    padding: 9px;
}
footer {
    padding: 16px;
    color: black;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #EBEBEB ;
    bottom: 0;

}
.drug {
    font-size: 50px;
    margin-top: 15px;
    font-size: 10px;
}
.h1, h1 {
    text-align: center;
    font-size: 3rem;
}
.image {
    overflow: ;
}
.image img {
    transition: all 1.5s ease;
}
.image:hover img {
    transform: scale(1.5);
} 

.vonal {
    width: 30%;
    position: absolute;
    left: 35%;
    height: 10px;
}
.mdma {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
}
.lsd {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
}
