* {
    margin: 0;
    padding: 0;
}
body {
    background: cyan;
    font-family: Arial;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover {
    color: #007bff!important;
}
.navbar {
    background: #fff;
}
.navbar-toggler {
    border: none!important;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5 {
    color: #fff;
    font-size: 42px;
}
.header{
    position: absolute;
    top: calc(30% - 35px);
    left: calc(53% - 255px);
}
.header2{
    position: absolute;
    top: calc(35% - 35px);
    left: calc(59% - 255px);
}
.header2 div{
    float: left;
    color: black;
    font-size: 40px;
    font-weight: 200;
}
.header2 div span {
    color: #F29E20 !important;
}
.header div{
    float: left;
    color: black;
    font-size: 80px;
    font-weight: 200;
}
.header div span {
    color: #F29E20 !important;
}
.kijelentkezes {
    padding: 8px;
    background: #dc3545;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    border-color: #dc3545;
    top: calc(50% - 35px);
    left: calc(54% - 35px);
    position: absolute;
}
.kijelentkezes:hover {
    text-decoration: none;
    color: white;
}
.bejelent {
    font-size: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    top: calc(42% - 35px);
    left: calc(38% - 35px);
    position: absolute;
}
.tovabb {
    padding: 8px;
    background: #28a745;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    border-color: #28a745;
    top: calc(50% - 35px);
    left: calc(45% - 35px);
    position: absolute;
}
.tovabb:hover {
    text-decoration: none;
    color: white;
}